.article {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding: 20px;

  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
  }

  form {
    display: flex;
    flex: 1;
  }

  .input-group {
    flex: 1;
    display: flex;
    margin-right: 10px;
    align-items: center;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .right {
    display: flex;
    flex-direction: column;

    > button {
      margin-bottom: 10px;
    }
  }
}
